<section
  class="relative h-[450px] bg-cover bg-center px-4 flex items-center justify-center text-center"
  style="background-image: url('/FAQ/hero.png');"
>
  <!-- Overlay layer -->
  <div class="absolute inset-0 bg-black opacity-70"></div>

  <!-- Content -->
  <div class="relative z-10">
    <h1 class="text-4xl md:text-5xl font-bold text-fontPrimary drop-shadow-lg font-exo">
      {{ "faq-first-section.title" | translate }}
    </h1>
    <p class="mt-4 text-2xl text-white">{{ "faq-first-section.subtitle" | translate }}</p>
  </div>
</section>

<section class="bg-thread dark:bg-dark-background  py-16 px-4 ">
  <div class="max-w-6xl mx-auto ">
    <p class="text-center text-fontSecondary text-lg max-w-3xl mx-auto mb-12">
      {{ "faq-first-section.introduction" | translate }}
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-start">
      <ng-container *ngFor="let item of faqs trackBy: trackByFn">
        <div class="border border-gray-300 rounded  transition-all duration-300">
          <button
            class="flex items-center w-full px-4 py-2 text-left"
            (click)="toggle(item)"
          >
            <span
              class="text-xl font-bold pr-5  transition-transform duration-200"
            >
              {{ item.open ? '-' : '+' }}
            </span>
            <span class="font-lg font-semibold">
              {{ item.question }}
            </span>
          </button>
          <div
            *ngIf="item.open"
            class="px-6 pb-4 text-fontSecondary  animate-fadeIn"
          >
            {{ item.answer }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

