<div class="dark:bg-dark-background bg-thread test relative">
<section
  class="relative h-[450px] bg-cover bg-center px-4 flex items-center justify-center text-center"
  style="background-image: url('/about/hero.png');"
>
  <!-- Overlay layer -->
  <div class="absolute inset-0 bg-black opacity-70"></div>

  <!-- Content -->
  <div class="relative z-10">
    <h1 class="text-4xl md:text-5xl font-bold text-fontPrimary drop-shadow-lg font-exo">
      Frequently Asked Questions
    </h1>
    <p class="mt-4 text-2xl text-white">You've asked, and we've answered!</p>
  </div>
</section>

  <div class="container">
    <div class="section bg-white dark:bg-dark-background">
      <div class="image-wrapper">
        <img
          src="/about/section1.png"
          alt="Milestones and Achievements"
        />
      </div>
      <div class="text-container">
        <div class="icon-box">
          <i class="fas fa-hand-pointer icon"></i>
        </div>
        <h2 class="section-title text-fontPrimary">{{ "about.vision.title" | translate }}</h2>
        <p class="section-content text-fontSecondary pb-6">
          {{ "about.vision.content" | translate }}
        </p>
      </div>
    </div>

    <div class="section bg-white dark:bg-dark-background">
      <div class="text-container">
        <div class="icon-box">
          <i class="fas fa-trophy"></i>
        </div>
        <h2 class="section-title text-fontPrimary">{{ "about.expertise.title" | translate }}</h2>
        <p class="section-content text-fontSecondary pb-6">
          {{ "about.expertise.content" | translate }}
        </p>
      </div>
      <div class="image-wrapper" style="margin-left: 15px">
        <img
          src="/about/section1.png"
          alt="Milestones and Achievements"
        />
      </div>
    </div>

    <div class="section bg-white dark:bg-dark-background">
      <div class="image-wrapper">
        <img
          src="/about/section1.png"
          alt="Innovation and Growth"
        />
      </div>
      <div class="text-container" style="padding-right: 15px">
        <div class="icon-box">
          <i class="fas fa-chart-line"></i>
        </div>
        <h2 class="section-title text-fontPrimary">{{ "about.why_choose.title" | translate }}</h2>
          <ul class="section-content text-fontSecondary pb-6">
            <li><strong>{{ "about.why_choose.points.0.title" | translate }}</strong>{{ "about.why_choose.points.0.content" | translate }} </li>
            <li><strong>{{ "about.why_choose.points.1.title" | translate }}</strong>{{ "about.why_choose.points.1.content" | translate }} </li>
            <li><strong>{{ "about.why_choose.points.2.title" | translate }}</strong>{{ "about.why_choose.points.2.content" | translate }} </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="py-2">
    <app-analysis></app-analysis>
  </div>
</div>
