<div class="sm:h-[550px] bg-thread flex pt-8 sm:pt-14 pb-0 justify-center px-4 dark:bg-dark-background ">
      <div class="max-w-3xl mx-auto text-center">
        <!-- Main Heading -->
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-light text-primary mb-8 tracking-wide font-exo">
           {{ 'home.section1.title' | translate }}
        </h1>

        <!-- Content Container -->
        <div class="space-y-8 text-fontThread">
          <!-- First Paragraph -->
          <p class="text-lg md:text-xl leading-relaxed max-w-3xl mx-auto">
            {{ 'home.section1.points.0' | translate }} <span class="font-semibold text-primary">{{ 'home.section1.points.1' | translate }}</span>{{ 'home.section1.points.2' | translate }}
          </p>

          <!-- Second Paragraph -->
          <p class="text-lg md:text-xl leading-relaxed max-w-3xl mx-auto">
            {{ 'home.section1.points.3' | translate }}
          </p>
        </div>

        <!-- Optional CTA Button -->
        <div class="mt-12 mb-4 sm:mb-0">
          <button 
          (click)="scrollToSection()"
          class="bg-primary hover:bg-gradient-to-r from-primary to-amber-800 group-hover:opacity-100  text-secondary font-medium py-3 px-8 rounded-md transition-all duration-300 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2 focus:ring-offset-black tracking-wider uppercase">
{{ 'home.section1.button' | translate }}
          </button>
        </div>

        <!-- Decorative Elements -->
        <div class="absolute top-10 left-10 w-32 h-32 bg-amber-200 rounded-full opacity-20 blur-xl"></div>
        <div class="absolute bottom-10 right-10 w-40 h-40 bg-orange-200 rounded-full opacity-20 blur-xl"></div>
      </div>
    </div>
